@model Magfinalproject.Models.acadyear

@{
    ViewBag.Title = " الفصل الدراسي/ التفاصيل";
    Layout = "~/Views/Shared/_Layoutmagcontrol.cshtml";
}



<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="~/Home/magcontrol">لوحة التحكم</a>
    </li>
    <li class="breadcrumb-item active">@ViewBag.Title</li>
</ol>

<h2 class="text-info" style="padding-right:1em;padding-top:1em">التفاصيل</h2>

<div>
    <hr />
    <dl class="form-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.user.nikname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.nikname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("تعديل", "Edit", new { id = Model.id }) |
    @Html.ActionLink("العوده للقائمة الرئيسية", "Index")
</p>
