@model Magfinalproject.Models.college

@{
    ViewBag.Title = "الكليات / الحذف";
    Layout = "~/Views/Shared/_Layoutmagcontrol.cshtml";
}



<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="~/Home/magcontrol">لوحة التحكم</a>
    </li>
    <li class="breadcrumb-item active">@ViewBag.Title</li>
</ol>

<h2 class="text-danger" style="padding-right:1em;padding-top:25px">الحذف</h2>
<h3 class="text-info" style="padding-right:1em;padding-top:25px">هل أنت متأكد للقيام بعملية الحذف ؟</h3>
<div>
   
    <hr />
    <dl class="form-horizontal " style="padding-right:2em;padding-top:1em">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            <img src="~/uploads/@Model.photo" class="thumbnail" style="width:48px; height:48px" />
        </dt>

        <dd>
            @Html.DisplayFor(model => model.photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.about)
        </dt>

        <dd>
            @Html.Raw(HttpUtility.HtmlDecode(Html.DisplayFor(model => model.about).ToString()))
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.goals)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.goals)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.digrees)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.digrees)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.contact)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.contact)
            </dd>*@

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <hr /><div class="form-actions" style="padding-right:2em">
            <input type="submit" value="حذف" class="btn btn-danger" /> |
            @Html.ActionLink("الرجوع الى القائمة", "Index")
        </div>
    }
</div>
