@model Magfinalproject.Models.social

@{
    ViewBag.Title = "التواصل الأجتماعي / الحذف";
    Layout = "~/Views/Shared/_Layoutmagcontrol.cshtml";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="~/Home/magcontrol">لوحة التحكم</a>
    </li>
    <li class="breadcrumb-item active">@ViewBag.Title</li>
</ol>
<h2 class="text-danger" style="padding-right:1em;padding-top:25px">الحذف</h2>
<h3 class="text-info" style="padding-right:1em;padding-top:25px">هل أنت متأكد للقيام بعملية الحذف ؟</h3>
<div>

    <hr />
    <dl class="form-horizontal " style="padding-right:2em;padding-top:1em">
        <dt>
            @Html.DisplayNameFor(model => model.social_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.social_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.link)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <hr /><div class="form-actions" style="padding-right:2em">
            <input type="submit" value="حذف" class="btn btn-danger" /> |
            @Html.ActionLink("الرجوع إلى القائمة", "Index")
        </div>
    }
</div>



















