@model Magfinalproject.Models.department
<link href="~/AdenCss/style.css" rel="stylesheet" />
@using Magfinalproject.Models;


@{
    ViewBag.Title = Model.college.center.classname+" / "+Model.college.name+" / الأقسام / "+Model.name;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ApplicationDbContext db = new ApplicationDbContext();
    var it = db.departments;
    var item = db.colleges;
    var the = db.Theses;
    var mohsen = db.Theses.Where(a => a.departmentID == Model.id).FirstOrDefault();
}

<div class=" row page-header-row">
    <ol class="breadcrumb" style="background-color: #0a192f;border-radius:0">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">الرئيسية</a>
        </li>
            <li style="color:white" class="breadcrumb-item active">@ViewBag.Title </li>
    </ol>


    <header id="header" style="direction:rtl">


        <!-- Page Header -->
        <div id="post-header" class="header-a">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10" style="padding-right:35px;margin-top:25px">

                        <h1> @Html.DisplayFor(model => model.name)</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
    </header>
    <div class="section ">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row" style="margin-right:13px">
                <!-- Post content -->
                <div class="col-sm-8">
                    <div class="thumbnail " style="border: ridge">

                        <div class="section-row sticky-container">
                            <div class="main-post">
                                <!--نعمل السي كاه ايدتور-->


                                <figure class="figure-img">
                                    <img class="thumbnail" src="~/uploads/@Model.photo" alt="" style="margin-top:25px;max-height:450px">
                                    <figcaption><!--نعمل العنوان--></figcaption>
                                </figure>
                            </div>
                            <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                                <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                                <a class="a2a_button_facebook"></a>
                                <a class="a2a_button_twitter"></a>
                                <a class="a2a_button_telegram"></a>
                                <a class="a2a_button_whatsapp"></a>
                                <a class="a2a_button_google_gmail"></a>
                            </div>
                            <script>
                                var a2a_config = a2a_config || {};
                                a2a_config.locale = "ar";
                            </script>
                            <script async src="https://static.addtoany.com/menu/page.js"></script>
                        </div>


                        <!-- author -->
                        <div class="section-row">
                            <div class="post-author">
                                <div class="media">
                                    <div class="media-left">

                                    </div>
                                    <div class="media-middle" style="padding:25px">
                                        <div class="media-heading">
                                            <h2><span class="fa fa-info-circle"></span>  حول</h2>
                                        </div>
                                        <p>@Html.Raw(HttpUtility.HtmlDecode(Html.DisplayFor(model => model.about).ToString()))</p>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-sm-4 ">


                    <div class="thumbnail " style="border: ridge">
                        <div class="aside-widget " style="margin:5%">
                            <div class="section-title">
                                <h3 class="text-info"><span class="fa fa-graduation-cap">  </span>  بحوثات قسم:  @Model.name</h3><hr />
                            </div>
                            <div class="row">
                                <ol >
                                    @foreach (var subitem in the.Where(ii => ii.departmentID == Model.id).Take(10))
                                    {
                                        if (subitem.title.ToString().Length >= 50)
                                        {
                                            <li style="list-style:inside"><a herf="#">@subitem.title.ToString().Substring(0,49) ... </a></li>
                                        }
                                        else
                                        {
                                            <li style="list-style:inside"><a herf="#">@subitem.title</a></li>
                                        }  
                                    }
                                </ol>
                                  <hr />
                                <h3 style="margin-right:7%" class="text-info">@Html.ActionLink(" عرض الكل", "allnews","theses", new { id = Model.id } ,new { @class = "text-info" })</h3>

                            </div>
                        </div>
                    </div>
               

                <div class="thumbnail " style="border: ridge">
                    <div class="aside-widget " style="margin:5%">
                        <div class="section-title">
                             @if (Model.college.center.classname == "كلية")
                             {
                                <h3 class="text-info"><span class="fa fa-graduation-cap">  </span>  أقسام كلية: @Model.college.name</h3><hr />
                             }
                             else
                             {
                                <h3 class="text-info"><span class="fa fa-graduation-cap">  </span>  أقسام مركز: @Model.college.name</h3><hr />

                             }
                        </div>
                        <div class="row">

                            @foreach (var subitem in it.Where(ii => ii.collegeid == Model.collegeid && ii.id != Model.id))
                            {


                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 thumbnail " style="max-width:128px;max-height:130px;text-align:center">

                                    <img class="img-circle " src="~/uploads/@subitem.photo" alt="" style=" width:70px; height:70px">

                                    <p style="text-align:center">@Html.ActionLink(@Html.DisplayFor(modelItem => subitem.name).ToString(), "DetailsV", "Departments", new { id = subitem.id }, new { @class = "category-heading" })</p>

                                </div>


                            }

                        </div>



                    </div>
                </div>
                <div class="thumbnail " style="border: ridge">
                    <div class="aside-widget" style="margin:5%">
                        <div class="section-title">
                            <h3 class="text-info"><span class="fa fa-university">  </span>  كليات أخرى</h3><hr style="margin-bottom:-30px" />
                        </div>


                        <div class="tags-widget">
                            <ul>
                                @foreach (var subitem in item)
            {
                                    <li style="margin-top:25px">@Html.ActionLink(@Html.DisplayFor(modelItem => subitem.name).ToString(), "DetailsV", "Colleges", new { id = subitem.id }, new { @class = "category-heading" })</li>


                                }

                            </ul>
                        </div>
                    </div>
                </div>
            </div>



                <!-- /aside -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>

</div>